body {
	  width : 100%;
	  height : 100%;
	  overflow : hidden;
	  background-color : rgb(26, 25, 25);
	  font-family: "helvetica";
	  font-size: 20px;
}
#main {
	  position : absolute;
	  width : 85%;
	  height : 100%;
	  top: 0px;
	  right: 0px;
	  background-color : rgba(42, 41, 61, 0.933);
}
#left {
	position : absolute;
	width: 14%;
    height: 100%;
	top: 0px;
	left: 0px;
    text-align: left;
    border: #969696 solid thin;
    padding: 5px;
	background-color : rgba(162, 157, 229, 0.933);
	color : rgb(24, 25, 26);
}
#foot {
	position : absolute;
	height : 20%;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background-color : rgba(189, 188, 207, 0.933);
}

#foot .section-guide {
	float: left;
	height: 80%;
	background-color: white;
	color: rgba(162, 157, 229, 0.933);
}
.slider { 
	  position : absolute;
	  bottom : 0;
	  right : 2px;
	  width : 300px;
	  height : 16px;
	  cursor : pointer;
	  border-radius : 8px 0 0 0;
	  background-color : rgb(143, 141, 141);
}

.section-guide {
	max-width: 150px;
	border-radius: 4px;
	background-color: #f36239;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 100%;
	width: 100%;
	padding: 15px;
	margin: 10px 10px 5px 10px;
	transition: all 0.5s;
	cursor: pointer;
}
.section-guide span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.section-guide span:after {
	content: '\00bb';
	position: relative;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.section-guidee:hover span {
	padding-right: 25px;
}
.section-guide:hover span:after {
	opacity: 1;
	right: 0;
}

.h-bar {
    min-height: 35px;
    min-width: 40px;
    background-color: rgb(96, 96, 190);
    margin-bottom: 0.3%;
    font-size: 100%;
    color: #f9fdff;
    text-align: right;
    padding-right: 0.2%;
}

.selected {
    background-color: #f08080;
}